button {
	cursor: pointer;

	&.green {
		background-color: $main_green;
	}

	&.circle {
		height: 50px;
		width: 50px;
		border-radius: 30px;
	}

	&.add {
		background-repeat: no-repeat;
		background-size: 23px;
		background-position: center;
		background-image: url(/assets/add.svg);
	}

	&.pressed-animation {

		&:active {

			transform: scale(.8);
			opacity: .8;
			transition: transform 100ms, opacity 100ms;

		}

	}

}

button#addNewEntry {
	position: fixed;
	right: 20px;
	bottom: 50px;
}