[data-modal] {

	width: 95%;
	height: fit-content;
	border-radius: 12px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	transition: 100ms all;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;

	header {
		margin-bottom: 20px;
	}

	&[aria-hidden] {
		visibility: hidden;
		opacity: 0;
	}

	.body {
		flex: 1;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	form:invalid + footer [data-save] {
		pointer-events: none;
		touch-action: none;
		opacity: .3;
		cursor: not-allowed;
	}

	footer {

		width: 100%;
		display: flex;
		align-items: center;
		height: 50px;
		justify-content: flex-end;
		padding-right: 20px;
		border-top: 1px solid $light_gray;

		button:first-child {
			margin-right: 20px;
		}

	}

}
