#mainNav {
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	transition: transform $transition_speed;

	&[aria-hidden] {
		transform: translateX(-250px);
	}

	ul {

		img {
			width: 100px;
			border-radius: 4px;
			align-self: center;
			margin-bottom: 20px;
		}

		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		width: 100%;
		background-color: #fff;
		padding: 20px 0;

		button[data-opens-screen], button[data-performs-action] {

			width: 100%;
			height: 45px;
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: 500;
			display: flex;
			align-items: center;
			background-color: transparent;
			transition: $transition_speed all;

			&::before {
				content: "";
				background-repeat: no-repeat;
				background-position: center;
				background-size: 25px;
				margin-right: 10px;
				margin-left: 20px;
				display: inline-block;
				width: 23px;
				height: 23px;
			}

			&:active {
				background-color: #F0F4F8;
			}

			&[data-performs-action="reload"] {
				margin-top: auto;
			}

			&[data-opens-screen="dashScreen"]::before {
				background-image: url(/assets/home.svg);
			}

			&[data-opens-screen="logScreen"]::before {
				background-image: url(/assets/activity.svg);
			}

			&[data-performs-action="reload"]::before {
				background-image: url(/assets/reload-icon.svg);
			}

		}

	}

}