#mainNav {
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	transition: transform $transition_speed;

	&[aria-hidden] {
		transform: translateX(-250px);
	}

	ul {
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		width: 100%;
		background-color: #fff;
	}

}