$main_background: #F0F4F8;
$dark_blue: #102A43;
$main_green: #38BEC9;
$light_gray: #D9E2EC;
$border_radius: 3px;
$transition_speed: 150ms;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: 'Montserrat', sans-serif;
	color: $dark_blue;
	-webkit-touch-callout: none;
	&:focus {
		outline: none;
	}
	&:not(input) {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}

html, body {
	overflow-x: hidden;
	background-color: $main_background;
	height: 100%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.bg-img {
	background-repeat: no-repeat;
	background-position: center;
}
