.screen {

	display: flex;
	flex-flow: column nowrap;
	width: 100vw;
	position: fixed;
	transition: transform $transition_speed;
	opacity: 1;

	&.from-bottom {
		
		bottom: 0px;
		left: 0px;
		z-index: 35;

		&.half {
			
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			height: 320px;

			&[aria-hidden] {
				transform: translateY(320px);
			}

		}

	}

	&.full {
		height: calc(100vh - 50px);
		top: 50px;
	}

	&.white {
		background-color: #ffffff;
	}

	.main {
		
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 20px;
		flex: 1;

		&.seperate {
			justify-content: space-between;
		}

	}

	&.no-animation {

		&[aria-hidden] {

			visibility: hidden;
			opacity: 0;

		}

	}

}

.base {

	width: 100vw;
	padding-top: 150px;

	h1 {

		font-size: 48px;
		font-weight: 500;
		text-align: center;
		line-height: 1;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;

		&::before {
			content: "$";
			font-size: 36px;
			font-weight: inherit;
			display: inline-block;
		}

	}

	p {
		font-size: 18px;
		text-align: center;
	}

}

header {

	background-color: transparent;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid $light_gray;
	height: 50px;
	width: 100%;

	h1 {
		font-size: 22px;
		font-weight: 600;

	}

	button, .clearfix {
		height: 100%;
		width: 40px;
	}

	button {
		background-color: transparent;
	}

	button[data-close], button[data-close-modal] {
		background-image: url(/assets/x.svg);
		background-position: center;
		background-size: 20px;
		background-repeat: no-repeat;
	}

}

#mainHeader {
	position: fixed;
	top: 0px;
	z-index: 15;
}

#navSwitcher {
	background-image: url(/assets/hamburger.svg);
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: center;
	transition: $transition_speed all;

	&:active {
		opacity: .7;
	}

}

#opaqueBlackBackground {

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	transition: opacity $transition_speed;
	opacity: 0;
	display: block;
	background-color: rgba(0,0,0,.3);
	z-index: 20;
	visibility: hidden;

	&.shown {
		opacity: 1;
		visibility: visible;
	}

}
