.screen {

	display: flex;
	flex-flow: column nowrap;
	width: 100vw;
	position: fixed;
	transition: transform $transition_speed;

	&.from-bottom {
		bottom: 0px;
		left: 0px;
		z-index: 5;

		&.half {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			height: 300px;

			&[aria-hidden] {
				transform: translateY(300px);
			}

		}

	}

	&.full {
		height: 100vh;
	}

	&.white {
		background-color: #ffffff;
	}

	.main {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 20px;
		flex: 1;

		&.seperate {
			justify-content: space-between;
		}

	}

}

.base {
	width: 100vw;
	padding-top: 150px;

	h1 {

		font-size: 60px;
		color: $dark_blue;
		font-weight: 700;
		text-align: center;
		line-height: 1;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;

		&::before {
			content: "$";
			font-size: 36px;
			color: inherit;
			font-weight: inherit;
			display: inline-block;
		}

	}

	p {
		color: $dark_blue;
		font-size: 21px;
		font-weight: 700;
		text-align: center;
	}

}

header {

	background-color: transparent;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid $light_gray;
	height: 50px;
	width: 100%;

	h1 {
		color: $dark_blue;
		font-size: 24px;
		font-weight: 700;

	}

	button, .clearfix {
		height: 100%;
		width: 40px;
	}

	button {
		background-color: transparent;
	}

	button[data-close] {
		background-image: url(/assets/x.svg);
		background-position: center;
		background-size: 20px;
		background-repeat: no-repeat;
	}

}

#mainHeader {
	position: fixed;
	top: 0px;
	z-index: 15;
}

#navSwitcher {
	background-image: url(/assets/hamburger.svg);
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: center;
}
