table, thead, tbody, tr {
	width: 100%;
	display: flex;
}

table {
	flex-flow: column nowrap;
}

thead {

	&.four {

		th {
			width: 25%;
		}

	}

	th {
		font-size: 12px;
		color: #627D98;
	}

}

#activityLogTable {
	padding: 20px;
}