table, thead, tbody, tr, tfoot {
	width: 100%;
	display: flex;
}

table, tbody {
	flex-flow: column nowrap;
}

tbody tr, thead, tfoot {
	min-height: 50px;
	height: 50px;
	align-items: center;
}

thead {

	border-bottom: 1px solid #D9E2EC;

	&.three {

		th {
			width: 33.3%;
		}

	}

	&.four {

		th {
			width: 25%;
		}

	}

	th {
		font-size: 12px;
		color: #829AB1;
		display: flex;
		padding: 5px;

		&.sorting {
			color: #102A43;
		}

	}

}

tbody {
	display: block;
	overflow-y: scroll;
}

tbody tr {

	&.three {

		td {
			width: 33.3%;
		}

	}

	&.four {

		td {
			width: 25%;
		}

	}

}

tfoot {

	tr {

		&.three {

			td {
				width: 33.3%;
			}

		}

		&.four {

			td {
				width: 25%;
			}

		}

	}

}

td {

	display: inline-block;
	align-items: center;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	height: fit-content;

	&.bold {
		font-weight: 600;
	}

}

tfoot {
	border-top: 1px solid #D9E2EC;
}

#activityLogTable {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	position: fixed;
	top: 50px;
}
