table, thead, tbody, tr, tfoot {
	width: 100%;
	display: flex;
}

table, tbody {
	flex-flow: column nowrap;
}

thead {

	&.four {

		th {
			width: 25%;
		}

	}

	th {
		font-size: 12px;
		color: #627D98;
		display: flex;
		padding: 5px;
	}

}

tbody tr {

	height: 50px;
	align-items: center;

	&.four {

		td {
			width: 25%;
		}

	}

}

tfoot td {
	width: 25%;
}

td {
	display: inline-block;
	align-items: center;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	height: fit-content;

	&.bold {
		font-weight: 600;
	}

}

#activityLogTable {
	padding: 20px;
	height: 100%;
}